@media (max-width: 700px) {
    
    header{
        padding: 20px;
    }
    header label {
        display: initial;
        position: relative;
    }
    header .Navigation{
        position: absolute;
        top: 100%; left: 0; right: 0;

        background: #77bfee;
        border-top: 1px solid black;
        display: none;
    }
    Header .Navigation ul li{
        width: 100%;
    }
    header .Navigation ul li ul{
        display: block;
        position: relative;
        width: 100%;
    }
    header .Navigation ul li ul li{
        background: #77bfee;
    }

    header #menu:checked ~ .Navigation{
        display: initial;
    }
    #grouping{
        display: block;
        width: 100%;
        margin: 0;
    }
    #grouping img{
        padding: 0;
        margin: 0;
    }
    .box{
        margin: 0;
    }
    iframe{
        width: 100%;
    }
    .turtle-catergory{
        display: block;
        flex-wrap: nowrap;
        justify-content:center ;
        
    }
    .tur1{
        width: 100%;
        margin: 0;
        padding: 0;

    }
    .tur-1{
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        
    }
    .map1{
        width: 100%;
        margin: 0;
        padding: 0;
        
    
    }
    table{
       
        height: auto;
        width: 100%;
        margin: 0;
        text-align: left;
        font-size: 0.8em;
    }
    table tr th{
        text-align: left;
        padding: 0;
    }
    th{
        padding: 0;
    }
    td{
        padding: 0;
    }
    .map-hik{
        margin: 0;
        width: 100%;
        padding: 0;
    }
    img{
        width: 100%;
        padding: 0;
        margin: 0
    }
    .grid{
        display: block;
    }
    .consequences1{
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
    }
    
    .threats0{
        margin: 0;

    }
    .video{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .section1{
        display: block;
        
    }
    .image-box{
        padding: 0;
        margin: 0;
    }
    .image-box1{
        padding: 0;
        margin: 0;
    }
    .bgvideo{
        width: 100%;
    }
    .kosgoda{
        font-size: 1.2em;
        animation: none;
        filter: none;
        margin: 0;
    }
    .list-it{
        display: block;
    }
   
    .list-it div{
        margin: 0;
        width: 100%;

    }
    .kosgoda h1{
        font-size: 0.8em;
        text-align: left;
    }
    .map-kos{
        margin-top: 1em;
        margin: 0;
        padding: 0;
    }

.kosgoda h1::before{
    display: none;
}
.t2d h2{
    transform:none ;
    transition: none;
}
.box-it ul li{
    transform:none ;
    transition: none;
}
.protect h1{
    font-size: 60px;
}
input[type="submit"] {
   
    margin-left: 10%;
  }
  .pic{
    
    clip-path: circle(120px);

}
.list-it::before{
    left: 0;
    top: 0;

}
.list-it::after{
    right: 0;
    top: 0;
   
}
.bentota h1{
    font-size:50px ;
    margin-top: 2    0%;
    margin-left: 10%;
    margin-right: 20%;
}
.turty img{
   display: none;
}
.location-ben:hover{
    position: relative;
    cursor: pointer;
    transform:none;
   
}
.location-ben{
    margin-bottom: 5%;
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 10%;
}

}
